.image_circle{
    background-image: url(../images/client-bg.png);
    background-size: cover;
    background-position: right;
    border-radius: 50%;
}

.image_circle2{
    height:10%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.image_circle {
    position: relative;
    animation: floatAnimation 4s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}


@media only screen and (max-width: 993px) {
  .image_circle{
    display: none;
  }

}


@import https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext;


/* Docelowe style timeline */

.timeline{
  background-color: #ffffff;
  background-image: url("../images/scattered-forcefields.svg");
  background-size: cover;
}

.nayma-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.nayma-container::after {
  content: '';
  display: table;
  clear: both;
}

#nayma-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#nayma-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: rgba(0,0,0,.15);
}
@media only screen and (min-width: 1170px) {
  #nayma-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #nayma-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.nayma-timeline-block {
  position: relative;
  margin: 2em 0;
}
.nayma-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.nayma-timeline-block:first-child {
  margin-top: 0;
}
.nayma-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .nayma-timeline-block {
    margin: 4em 0;
  }
  .nayma-timeline-block:first-child {
    margin-top: 0;
  }
  .nayma-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.nayma-timeline-img {
  background: #56A2DB;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1170px) {
.nayma-timeline-img {
  margin-left: 10px;
  margin-top: 10px;
  }
}
@media only screen and (min-width: 1170px) {
  .nayma-timeline-img {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: 20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}
.nayma-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 2px 7px rgba(0,0,0,.15);
}
.nayma-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.nayma-timeline-content h2 {
  color: #303e49;
}
.nayma-timeline-content p, .nayma-timeline-content {
  font-size: 12px;
  font-size: 0.7125rem;
}
.nayma-timeline-content .nayma-timeline-content {
  display: inline-block;
}
.nayma-timeline-content p {
  font-weight: 300;
  margin: 1em 0;
  line-height: 1.6;
}
.nayma-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .nayma-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .nayma-timeline-content p {
    font-size: 16px;
    font-size: .9rem;
  }
}
@media only screen and (min-width: 1170px) {
  .nayma-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .nayma-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .nayma-timeline-block:nth-child(even) .nayma-timeline-content {
    float: right;
  }
  .nayma-timeline-block:nth-child(even) .nayma-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
}

/* Social media */
.socialm{
    padding:10px;
}


.fab {
    font-size: 2rem;
}

/* transition for social icon hover animation */
.fa-facebook,
.fa-codepen,
.fa-youtube,
.fa-instagram,
.fa-github,
.fa-pinterest {
    transition: 0.4s;
    cursor: pointer;
    color:white;
}

    /* social media icons hover color */
    .fa-facebook:hover,
    .fa-facebook:focus {
        color: #1877f2;
        transform: scale(1.1);
    }

.fa-twitter:hover,
.fa-twitter:focus {
    color: #1da1f2;
    transform: scale(1.1);
}

.fa-youtube:hover,
.fa-youtube:focus {
    color: #df2426;
    transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
    color: #bd22a2;
    transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
    color: #000;
    transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
    color: #000;
    transform: scale(1.1);
}

.fa-codepen:hover,
.fa-codepen:focus {
    color: #000;
    transform: scale(1.1);
}

.fa-pinterest:hover,
.fa-pinterest:focus {
    color: #b3001b;
}


/* Client logo slider */
@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.logos:before, .logos:after {
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
}

.logo_items {
  display: inline-block;
  animation: 30s slides infinite linear;
}

.logos:hover .logo_items {
  animation-play-state: paused;
}

.logo_items img{
  min-height: 100%;
  max-width:15%;
  filter: saturate(25%);
  transition: all .5s;
}

.logo_items img:hover{
  min-height: 100%;
  max-width:15%;
  filter: saturate(1);
  transition: all .5s;
}





/* Contact form */
/** {
    box-sizing: border-box;
    font-family: "Tahoma", sans-serif;
    line-height: 1;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(5, 231, 157), rgb(83, 192, 251));
}*/

/*.container {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
}*/

.form-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background-color: #fff;
    width: 400px;
    padding: 60px 60px 140px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    position: relative;
}

.form-line {
    width: 100%;
    display: block;
    position: relative;
    transition: .3s all ease;
    padding-top: 10px;
}

    .form-line + .form-line {
        margin-top: 30px;
    }

    .form-line label {
        display: block;
        position: absolute;
        top: 15px;
        left: 0;
        font-size: 14px;
        color: #ccc;
        transition: .3s all ease;
        z-index: 1;
    }

.form-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
    font-size: 16px;
    color: #000;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
    transition: .3s all ease;
    width: 100%;
}

textarea.form-input {
    resize: vertical;
}

.form-input:focus + label,
.form-line label.top {
    font-size: 10px;
    top: -10px;
    color: #2f4231;
}

.form-input:focus {
    border-bottom-color: #2f4231;
}

.error-label,
.check-label {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #fff;
    padding: 3px;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
    border-radius: 2px;
}

.error-label {
    background-color: #f75e5e;
}

.check-label {
    background-color: #35ca7c;
    width: 16px;
    height: 16px;
}

    .check-label:after,
    .check-label:before {
        position: absolute;
        content: '';
        background-color: #fff;
        height: 2px;
    }

    .check-label:after {
        width: 5px;
        transform: rotate(20deg);
        bottom: 4px;
        left: 4px;
    }

    .check-label:before {
        width: 10px;
        transform: rotate(110deg);
        right: 1px;
        top: 7px;
    }

.form-line.success .form-input {
    border-bottom-color: #35ca7c;
}

.form-line.error label {
    color: #f75e5e;
}

.form-line.error .form-input {
    color: #4e0c0c;
    border-bottom-color: #f75e5e;
}

.form-line.error .error-label,
.form-line.success .check-label {
    opacity: 1;
    visibility: visible;
}

.headline {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 5px;
    position: relative;
}

    .headline span {
        position: relative;
        z-index: 2;
    }

    .headline:before {
        content: '';
        position: absolute;
        z-index: 1;
        background-color: rgba(175, 253, 198, 0.5);
        height: 12px;
        width: 155px;
        bottom: -3px;
        left: 5px;
    }

.form-button {
    border: none;
    outline: none;
    padding: 20px 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    background: #8cf1d0;
    display: block;
    transition: .3s all ease;
    position: absolute;
    bottom: 40px;
    letter-spacing: 2px;
}

    .form-button:hover {
        background-color: #78e6c2;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
        -moz-box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
        box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
        bottom: 45px;
    }

@media (max-width: 500px) {
    .form-container {
        width: 300px;
        padding: 30px 20px 100px;
    }

    .form-button {
        bottom: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

        .form-button:hover {
            bottom: 30px;
        }
}